
@media only screen and (max-width: 1024px) and (max-height: 768px){
	.slidesjs-container {height: 768px!important}

}



@media only screen and (max-width: 1001px){
	.slidesjs-container {height: 100%!important}
	#logo {top:10px;}
	#main-menu {top: 15px}
	#somos li {margin: 0 17px}

	.team p {width: 95%}

	.info {width: 100%}
	.slidesjs-pagination {bottom: 10px}

	.archive .post, .home .post {
		width: 50%
	}

	.search #head h2, .archive #head h2 {
		font-size: 4em;margin-top: 25vh
	}

	.single .entry h2 {
		margin-left: 80px;
		width: 90%;
		font-size: 2em;
		margin-bottom: 20px
	}

	.next-posts {right: -40px}

	.slidesjs-container {height: 600px!important}

	.home #block {margin-top: -30px; height: 140px}

	#logo {left: 60px}
	#main-menu {right: 20px}

	.contenidoSlide {
		width: 480px;
		margin: 0px 0 0 -240px;
		top: 150px
	}
	.slidesjs-navigation {
		width: 30px;
		height: 30px;
		top: 50%;
	}
	.slidesjs-pagination {bottom: 35px}

	.contenidoSlide h2 {line-height: 1em; margin-bottom: 10px}

	.colF:nth-of-type(3),
	.colF:nth-of-type(4) {width: 25%; padding-left: 20px} 
	.colF:nth-of-type(1) {width: 30%;padding-left: 20px}
	.colF:nth-of-type(2) {width: 20%;padding-left: 20px}

	#somos li {font-size: 1.6em; line-height: 1.5em; padding-top: 55px}

	.seis {height: 320px}

	#listaClientes {padding: 0 20px}

		.stripe {height: auto}

		.clientes {
			width: auto!important;
			height: auto;}

			.clientes li {
				width: 25%;
				margin: 0;
				text-align: center;}

	.aliados {
			width: 100%!important;
			height: auto;
			float: left;}

			.aliados li {
				width: 25%;
				float: left;
				margin: 0;
				text-align: center;}

	.content.contentUrban, #moreInfo .content {width: 100%; padding: 0 40px}

	.txtHidden {display: block;margin-left: -10px; height: 150px}
	.lista .more {display: none;}
	.lista {min-height: 200px; margin:0 0 180px; width: 33.33%; padding: 0 10px}
		.lista h3 {float: left;text-align: center; width: 100%}

	.content.video {
		max-width: 100%;
		padding: 0 40px;
		float: left;
		margin-top: -45px
	}

		.purple .content.video {margin-top: 30px}

	.content.video iframe {width: 100%}

	.content.aviso {width: 100%;padding:0 40px}


	.content.equipo {width: 100%; padding: 0}
	
	.team,
	.content.servicios,
	.somos #main {width: 100%}

}

@media only screen and (min-width: 750px) and (orientation:portrait){ 
#main-menu {
	width: 100%;
	position: absolute;
	right: 0;
	top: 0;
	height: 110px;
	padding: 70px 0 0 70px!important;
	background: #006EB6
}

#logo {
	position: absolute;
	z-index: 10000;
	top: 20px;
	left: 50%;
	margin-left: -68px
}

	#main-menu a {
		color: white!important;
		text-shadow:none!important;
	}

#header h2 {
	font-size: 4.6em!important;
	padding-left: 5vh;
}
	#header #head {
	display: block!important;
	opacity: 1!important
}

#head {
	position: absolute!important;
	width: 100%;
}

.home #head {background: url(../images/banner_home_slide1_.jpg)!important}


#somos li {font-size: 1em}

#logo {
	position: absolute;
	top: 20px!important;
	background: url(../images/logo-white.png) 50% 50% no-repeat!important;
	background-size: cover!important
}

.home #head h2 {color: #fff}

}

@media only screen and (max-width: 990px){
	.contenidoSlide h2 {font-size: 5em}
}

@media only screen and (max-width: 800px){
	.contenidoSlide {
		width: 480px;
		margin: 0px 0 0 -240px;
		
	}

	
}

@media only screen and (max-width: 740px){
body {font-size: 9px; }

	
}

 /* MENU MOBILE*/


@media only screen and (max-width: 736px){

#header #head {
	display: block!important;
	opacity: 1!important
}

#head {
	background: #0a6fb7!important
}

#logo {
	position: absolute;
}

#header {
	height: 130px;
	background-size: 220%!important
}

.single #header {height: 60px}

#head.fixed {
	position: absolute;
}

.fixed #logo {position: absolute;}

#wrapper {
	width: 100%;
	overflow: hidden;
	margin-top: 0
}

.white #logo {
	background: url(../images/logo-white.png) 50% 50% no-repeat!important;
	background-size: cover!important
}

.single .post {
	padding: 60px 20px 0px 20px
}

.single #gallery-1 {
	margin-left: 70px
}

.apss-social-share {
	position: absolute;
	margin: 30px 0 0 -80px
}

.prev-posts {left: 0}

.next-posts {right: 0}

.single #sidebar {margin-top: 40px}

.single .entry {width: 100%}

#searchsubmit {height: 32px}

#container,
#sidebar {
	width: 100%;
}

.search #head h2,
.archive #head h2,
.home #head h2 {
	font-size: 3em;
	margin-top: 90px;
	padding-left: 20px
}

.home #header {
	background: url(../images/banner_home_slide1_.jpg)
}

.archive #header {
	background: url(../images/banner_quehacemos_.jpg)
}

#head {
	width: 100%;
	background: #0a6fb7;
	height: 60px;
	position: absolute;
	z-index: 100
}



	.slidesjs-pagination {display: none;}
	#main-menu {
		width: 130px;
		left: 0;
		position: fixed;
		background: #0a6fb7;
		height: 100%;
		top: 0!important;
		padding-top:20px;
		margin-left: -130px
	}

		#main-menu li {
			width: 100%;
			padding: 0 0 0 10px 
		}

		#menuMobile {
			position: absolute;
			width: 50px;
			display: block;
			height: 50px;
			left: 0;
			top: 5px;
			z-index: 200;
			background: #0a6fb7
		}

		#menuMobile:hover {
			cursor: pointer;
		}

			#menuMobile span {
				position: absolute;
				width: 36px;
				height: 4px;
				background: #fff;
				top: 50%;
				left: 7px;
				margin-top: -2px
			}

			#menuMobile span:after {
				content: '';
				position: absolute;
				width: 36px;
				height: 4px;
				background: #fff;
				left:0;
				margin-top: -11px
			}

			#menuMobile span:before {
				content: '';
				position: absolute;
				width: 36px;
				height: 4px;
				background: #fff;
				left:0;
				margin-top: 11px
			}



			#main-menu li {border-bottom:1px solid #084e80;}

			#main-menu li a:before {content: none; font-size: 1.5em}

			#main-menu li a {content: none; font-size: 1.4em}

			.urban.white #main-menu a {
				color: #fff
			}

	.home #main-menu {background: #fff416}
	.somos #main-menu {background: #06bdc9}
		.somos #main-menu li {border-color:#069ea7}
	.hacemos #main-menu {background: #fff416}
	.urban #main-menu {background: #fc3777}
		.urban #main-menu li {border-color:#de2763}
	.purple #main-menu {background: #35115b}
		.purple #main-menu li {border-color:#310f53}
	.contacto #main-menu {background: #07BECA}
		.contacto #main-menu li {border-color:#0d7980}

	#data {
		position: absolute;
		bottom: 0px;
		left: 0
	}
		#main-menu li#data a:first-child {padding-bottom: 0; font-size: 1.1em}



}

@media only screen and (max-width: 736px) and (orientation:landscape){
	.archive .post, .home .post {width: 50%!important}
	.apss-social-share {margin: 30px 0 0 4px}
}
@media only screen and (max-width: 667px){
	#somos li {margin: 0 5px}
	.team {padding: 70px 240px 0 0}
	.txtHidden {height:240px; font-size: 1.2em; padding: 20px 10px}
	.purple #moreInfo .content {width: 100%}

	.hideme {opacity: 1}
	.team:nth-child(even).hideme {margin-left: 0}
	.team.hideme {margin-right: 0}
	.info p,
	.somos #main p,
	#moreInfo p {
		font-size: 1.5em
	}

	.single .entry h2 {
		margin-left: 70px
	}

	.archive .post, .home .post {
		width: 100%
	}

	.meta {margin-left: -10px; position: absolute; font-size: 1.3em}
	.apss-social-share {
		margin: 30px 0 0 -10px;
		position: absolute;
	}

	.lista {margin-bottom: 260px}
}




@media screen and (max-width: 568px) {
	.contenidoSlide {padding: 0 20px}
	.contenidoSlide h2 {font-size: 5em}
	.home #block {height: 30px}
	.colF:nth-of-type(1) {width: 40%}
	.colF:nth-of-type(2) {width: 20%}
	.colF:nth-of-type(3) {border:none;width: 35%}
	.colF:nth-of-type(4) {display: none;}

	.page #header {height: 130px}

.page #header h2 {font-size: 3em; padding-left: 0; padding-left: 20px}
	.hacemos #header h2,
	.somos #header h2 {margin-top: 170px}
	#somos {width: 200px; display: block;}
	#somos li {margin-bottom: 50px; padding-top: 60px}
	#somos span {display: none;}


	.somos #wrapper + div:nth-of-type(3) {height: 50px!important}

	.daniela, .giovanna, .ivan  {background-position: right top}

	.team.adrian {padding:20px 0 0 340px;}
	.adrian {background-position: 90px top}

	.hacemos .quote {padding:20px 180px;}

	.uno {background-position: 290px top}
	.dos {background-position: 270px top}
	.tres {background-position: 270px top}
	.cuatro {background-position: 230px top; height: 230px}
	.cinco {background-position: 270px top}
	.seis {background-position: 270px top}

	.servicio p {width: 240px}

	.more {display: none;}

	.servInfo {display: block; margin-top: -40px}

	.info ul {margin-left: -230px}

	.urban #header h2 {margin-top: 90px}

	.aviso.contacto #header h2 {margin-top: 130px}
	.contacto #header h2 {margin-top: 90px}	
	.purple #header h2 {margin-top: 130px}

	#UEimg {width: 110px}

	.txtHidden {height: 260px}

	.lista {margin: 0 0 270px}

	#bannerPurple {
		padding: 0 40px}

	#bannerPurple img {
		width: 100%
	}

	.contacto iframe {display: none}
	.hacemos .quote {padding: 20px 60px}
	.purple .quote {
		padding: 0
	}

	#mailto, #phone, #locate {width: 33.33%}
	.soc {padding: 90px 50px}
	.purple #moreInfo .content {padding:0;}

.lista h3 img {width: 90%; margin-top: 30px}
.lista.nn h3 img {width:60% }
.lista.aa h3 img {width:80% }



}


@media only screen and (max-width: 480px){
	.content.format {width: 100%}
	.contenidoSlide {
		width: 380px;
		margin: 0 0 0 -190px}
	.contenidoSlide h2 {font-size: 4em}
	.contenidoSlide p {font-size: 2em; line-height: 1.1em}

	.colF:nth-of-type(2) {padding-left: 0;}

	.hacemos #header h2 {margin-top: 170px}

	.somos #main p {margin-top: 0}

	.team,
	.team:nth-child(even) {padding: 20px 20px 20px 220px; text-align: left;}
		.daniela,
		.monica,
		.yadira,
		.giovanna,
		.ivan, .chimal {
			background-size: 200px;
			background-position: left 50%;
			height: auto
		}

		.adrian {
			background-size: 200px;
			background-position: 80px 50%;
			height: auto
		}

		.clientes, .aliados {margin-top: 20px}

		#clientes .content {padding: 0px 45px 40px}

		#listaClientes img {width: 80%}
		#moreInfo {padding: 40px 0px}
		.urban .quote {padding: 50px 20px}

		.lista {width: 100%; height: auto; margin-bottom: 20px; min-height: auto}

			.lista h3 {width: 40%}

				

				.lista h3 img {width: 70%; margin-top: 30px}
.lista.nn h3 img {width:65% }
.lista.aa h3 img {width:65% }
				.txtHidden {
					float: left;
					text-align: left;
					height: auto;
					padding: 20px 10px 30px 30px;
					position: relative;
					width: 60%}

		.lista:last-child {margin-bottom: 40px}

		.content.contentUrban {padding: 0 }

		.content.video iframe {height: 200px}

		.content.video {padding: 0; margin-top: -25px; margin-bottom: 15px}

		.purple #header h2 img {width: 90%}

		.purple #moreInfo {padding: 30px 20px}

		#ajax-contact {padding:0 30px 0 15px}

		.format .field:nth-of-type(1) {padding: 0}

		.soc {margin:-30px auto; padding: 90px 40px}
		
		#publicaciones {width: 100%}	
		#publicaciones li {height: 200px}
		#publicaciones li a img {top: 0;margin-top: -60px}
}


@media only screen and (max-width: 450px){ 
	.slidesjs-container {height: 440px!important}


		#publicaciones li a img {top: 0;margin-top: -40px}


	.contenidoSlide {width: 280px;
		top: 120px;
		margin: 0 0 0 -140px}

	#footer {padding: 40px 0 50px}

	#footer .content {
		position: relative;
	}

		.colF:nth-of-type(1) {
			width: 50%;
			border-right:1px solid black;
		}

		.colF:nth-of-type(2) {
			display: none;
		}

			.colF:nth-of-type(3) {
				width: 50%;
				float: right;
		}

	.hacemos #header h2 {margin-top: 90px}
	.somos #header h2 {margin-top: 90px}

		.servicio {
			padding: 90px 40px 0;
			margin: 0;
			width: 100%;
			text-align: center;
		}
		.servicio p {width: 100%}

		.cuantro .servicio {
			padding-top: 60px
		}

	.content.servicios.uno,
	.content.servicios.dos,
	.content.servicios.tres,
	.content.servicios.cuatro,
	.content.servicios.cinco,
	.content.servicios.seis {margin-top: 0; height: auto}
.cuatro .servicio h3 {margin-top: 30px}
		.uno,
		.dos,
		.tres,
		.cinco,
		.seis {
			background-size: 120px;
			background-position: 50% 10px
		}

		.cuatro {
			background-size: 160px;
			background-position: 50% 30px
		}

		.info ul {margin-left: -130px}

		.urban #header h2 {padding: 0 20px; margin-top: 90px}
			.urban #header h2 img {
				width: 100%
			}
		.purple #header h2 {margin-top: 90px}

		.soc li a {margin-right: 35px}

		#mailto, #phone, #locate {width: 100%}


.content.equipo {padding: 0 20px}

.team, .team:nth-child(even) {
	padding: 160px 0 20px;
}
	.daniela {background-position: 30% 0px}
	.chimal {background-position: 50% 0px}

		.yadira {background-position: 20% 0px}
		.monica {background-position: 50% 0px}
	.giovanna {background-position: 30% 0px}
	.adrian {background-position: 80% 0px}
	.ivan {background-position: 30% 0px}

	.team p {width: 100%}

}

@media only screen and (max-width: 320px){ 
	

		#publicaciones li a img {top: 0;margin-top: -20px}
	.contenidoSlide {width: 240px;
		margin: 0 0 0 -120px}

		.contenidoSlide h2 {font-size: 3em}

		.colF:nth-of-type(1) {width: 55%}
		.colF:nth-of-type(3) {width: 45%; padding-left: 10px; padding-right: 20px}

		.daniela {background-position: 20% 0px}
		.chimal {background-position: 50% 0px}
		.yadira {background-position: 0% 0px}
		.monica {background-position: 50% 0px}
		.giovanna {background-position: 20% 0px}
		.adrian {background-position: 100% 0px}
		.ivan {background-position: 20% 0px}

		.urban #header h2 { margin-top: 130px}

		.purple #header h2 {margin-top: 170px}

		.format .field {padding-right: 10px; width: 100%}

		.soc li a {margin-right: 4px}

		.aviso.contacto #header h2 {font-size: 4em; margin-top: 160px}

		.content.aviso {margin: 20px 0 20px}

}
